<div class="cover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/65128/pexels-photo-65128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
  <h1 class = "d-flex justify-content-center py-5">Create a new list</h1>
</div>
<%= simple_form_for @list do |f| %>
<%= f.input :name, placeholder: 'Thriller' %>
<%= f.input :image_url %>


<%= f.submit 'Add list', class: 'btn btn-flat' %>
<% end %>
