<div>
  <ul class="navbar">
    <li class='title-nav'><%= link_to 'WATCHILL', root_path, class:'btn-nav' %></li>
    <% if current_user.nil? %>
      <li><%= link_to 'LOG IN', user_session_path, class:'btn-nav' %></li>
      <li><%= link_to 'SIGN UP', new_user_session_path, class:'btn-nav btn-accent' %></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to 'Dashboard', user_session_path, class:'btn-nav' %></li>
      <li><button class = 'btn-nav' data-toggle="modal" data-target="#add_list_modal">+ new list</button></li>
    <% end %>
  </ul>
</div>
