<section class="intro">
  <div class="inner">
      <div class="content">
        <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0s">
          <h1 class="title"> iFilm </h1>
          <p class="p-1 mb-5 d-flex justify-content-center title">Find your favorite films, start a conversation, build a community!</p>
        </section>
        <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.1s">
          <%= link_to 'SIGN UP', user_session_path, class:'btn-red-landing' %>
        </section>
      </div>
  </div>
</section>

