<%if current_user.nil? %>
  <section class="intro">
    <div class="inner">
        <div class="content">
          <div class="header-text">
            <section class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
              <h3 class="p-1 mb-5 d-flex justify-content-center title">Find your favorite films, start a conversation, build a community!</h3>
            </section>
            <section class="os-animation d-flex justify-content-evenly" data-os-animation="fadeIn" data-os-animation-delay="0.7s">
              <%= link_to 'FIND OUT MORE', user_session_path, class:'btn-red-landing' %>
            </section>
          </div>
          <div>
            <%= image_tag("movie.png", class:"landing-page-img")%>
          </div>
        </div>
    </div>
  </section>
<%end%>

