.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0;
    padding: 0.5em 2em;
    overflow: hidden;
    li {
        display: inline;
        list-style: none;
    }
}